// HEADING SAME TITTLE TYPO 
.typo__head__01 {
  font-size: 3.8vw !important;
  font-family: $ff__Bebas !important;
  line-height: 1.4 !important;
  @include media(767px){
    font-size: 35px !important;
    line-height: 1.5;
  }
  @include media(550px){
    font-size: 35px !important;
    text-align: center;
  }
}
// SLIDER THREE FONT  TITTLE TYPO 
.typo__slider_content {
  .typo__head {
    font-size: 3.8vw !important;
    font-family: $ff__Bebas !important;
    line-height: 1.4 !important;
    @include media(767px){
      font-size: 35px !important;
      line-height: 1.5;
      margin-bottom: 7px;
    }
    @include media(635px){
      font-size: 30px !important;
    }
    @include media(550px){
      font-size: 30px !important;
      text-align: center;
    }
    @include media(460px){
      font-size: 25px !important;
      text-align: center;
    }
    @include media(397px){
      font-size: 20px !important;
      text-align: center;
    }
  }
  .typo__description {
    @include media(991px){
      font-size: 2.5vw;
    }
    @include media(515px){
      font-size: 3vw;
    }
    @include media(515px){
      font-size: 3.5vw;
      margin-top: 0 !important;
      margin-bottom: 5px !important;
    }
  }
}